.icon-like:before {
  content: "\e901";
}

.icon-thumb-down:before {
  content: "\e900";
}

a:hover {
  color: #808080;
  text-decoration: none;
}

hr {
  background-color: #bdbbbbb6;
}

.header-content {
  height: 350px;
}

.header-container {
  position: relative;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(6px);
}

.header-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "lucida Calligraphy";
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.header-text h6 {
  font-size: 12px;
}

.nav-container {
  position: absolute;
  width: 100%;
  height: auto;
  top: 295px;
}

.nav-bg-trans {
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-bg-dark {
  background-color: rgba(20, 20, 20, 0.603);
}

nav ul li {
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: relative;
}
nav ul li::after {
  content: "";
  display: block;
  width: 85%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 5px;
  opacity: 0;
  transition: 0.5s ease;
}
nav ul li:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}
nav ul li.active::after {
  opacity: 1;
  transform: translateY(-2px);
}
nav ul li.show {
  background-color: rgba(0, 0, 0, 0.1);
}
nav ul li.show::after {
  opacity: 0;
}

.dropdown-menu {
  background-color: #292828;
}
.dropdown-menu li:hover::after {
  opacity: 0;
}

.dropdown-item {
  color: #fff;
}
.dropdown-item:hover {
  background-color: #292828;
  color: #fff;
}

/*
=================================
   FOR POSTS ON HOME PAGE
=================================
*/
.entry-meta, .standard-featured, .entry-excerpt, .entry-excerpt-single {
  margin-bottom: 25px;
}

.entry-content {
  margin-bottom: 32px;
}

.entry-header {
  margin-top: 50px;
}

h1 {
  font-size: 55px;
  font-weight: 200;
}
h1 a {
  color: #000;
}
h1.entry-title, h1.page-title {
  margin-top: 20px;
  margin-bottom: 15px;
  word-spacing: 5px;
}
h1.entry-title::before, h1.page-title::before, h1.entry-title::after, h1.page-title::after {
  content: "~";
  position: relative;
}

.posted-on, .posted-in {
  color: #bdbbbbb6;
  font-size: 16px;
  font-style: italic;
  text-transform: capitalize;
}
.posted-on a, .posted-in a {
  color: #808080;
  text-decoration: none;
}

/* RESPONSIVE IMAGE */
.responsive {
  width: 100%;
  height: 400px;
  transition: 0.3s;
}
.responsive:hover {
  opacity: 0.7;
}

.entry-excerpt p, .entry-excerpt-single p {
  font-size: 19px;
  line-height: 1.5em;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.tags-list a {
  margin: 0 6px;
  text-transform: uppercase;
  color: #808080;
  font-weight: 600;
  font-size: 14px;
}

.comments-tag a {
  text-transform: uppercase;
  float: right;
  color: #808080;
  font-weight: 600;
  font-size: 14px;
}

.btn-sunset {
  border: 2.3px solid #bdbbbbb6;
  text-transform: uppercase;
  color: #bdbbbbb6;
  transition: 0.7s;
}
.btn-sunset:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.entry-footer {
  padding-bottom: 8px;
  margin-top: 20px;
}

/*
==============================
   FOR IMAGE POST FORMAT
==============================
*/
.sunset-format-image .entry-header {
  height: 500px;
  padding-top: 2px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.sunset-format-image .entry-header:hover .entry-excerpt, .sunset-format-image .entry-header:hover .entry-excerpt-single {
  opacity: 1;
  bottom: -30px;
}
.sunset-format-image .entry-header .posted-on, .sunset-format-image .entry-header .posted-in, .sunset-format-image .entry-header a {
  color: #fff;
}
.sunset-format-image .entry-header .entry-excerpt, .sunset-format-image .entry-header .entry-excerpt-single {
  opacity: 0;
  padding: 15px 0;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -130px;
  transition-duration: 1s;
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0.09));
}
.sunset-format-image .entry-header .entry-excerpt p, .sunset-format-image .entry-header .entry-excerpt-single p {
  margin-bottom: 0;
}

@keyframes excerpt-up {
  from {
    bottom: -85px;
  }
  to {
    bottom: -25px;
  }
}
/*
==========================
   VIDEO POST FORMAT
==========================
*/
.sunset-format-video {
  margin-top: 70px;
}
.sunset-format-video video {
  width: 100%;
}

/*
==========================
   AUDIO POST FORMAT
==========================
*/
.sunset-format-audio audio {
  width: 100%;
}
.sunset-format-audio .entry-header {
  margin-bottom: 30px;
}
.sunset-format-audio .entry-header h1::before, .sunset-format-audio .entry-header h1::after {
  content: none;
}
.sunset-format-audio .entry-title, .sunset-format-audio .page-title, .sunset-format-audio .entry-meta {
  display: inline;
}
.sunset-format-audio .entry-meta {
  float: right;
  margin-top: 30px;
  margin-bottom: 0;
}

.d-block {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item {
  position: relative;
}

.caption {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
}

/*
==========================
    QUOTE POST FORMAT
==========================

*/
.sunset-format-quote {
  margin-top: 100px;
}
.sunset-format-quote .entry-header a {
  color: #808080;
}
.sunset-format-quote .entry-header h1 {
  font-weight: 200;
}

/*
================================
       LINK POST FORMAT
================================
*/
.sunset-format-link {
  margin-top: 100px;
}
.sunset-format-link .entry-title, .sunset-format-link .page-title {
  font-size: 48px;
}
.sunset-format-link .entry-title::before, .sunset-format-link .page-title::before, .sunset-format-link .entry-title::after, .sunset-format-link .page-title::after {
  display: none;
}
.sunset-format-link .entry-title a, .sunset-format-link .page-title a {
  color: #808080;
}

.link-icon {
  display: block;
  color: #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  line-height: 1em;
  padding-top: 10px;
}

/*
=============================
     ASIDE POST FORMAT
=============================
*/
.sunset-format-aside .content {
  background-color: #f3f1f1;
}
.sunset-format-aside img.responsive {
  width: 250px;
  height: 250px;
  max-width: 100%;
  margin: auto;
  border-radius: 50%;
  transition: none;
  transform: translateY(20px);
  z-index: 5;
}
.sunset-format-aside img.responsive:hover {
  opacity: 1;
}
.sunset-format-aside footer {
  margin-top: 0;
  padding: 10px;
}
.sunset-format-aside .footer-row {
  background-color: #e7e6e6;
}
.sunset-format-aside .feature-column, .sunset-format-aside .content-column {
  padding: 0;
}
.sunset-format-aside .entry-content {
  padding-right: 15px;
}
.sunset-format-aside .aside-featured {
  padding-top: 10px;
  margin-top: 11px;
}

/*
===================
  LAZY LOAD
===================
*/
#lazy-load-preloader {
  width: 200px;
  height: 100px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reveal {
  animation-name: lazyLoad;
  animation-duration: 0.9s;
}

@keyframes lazyLoad {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*
=============================
        ARCHIVE PAGE
=============================
*/
/* POST NAVIGATION */
.sunset-post-prev, .sunset-post-next {
  display: inline-block;
  transition: 0.2s;
}
.sunset-post-prev a, .sunset-post-next a {
  color: #808080;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.2s;
}
.sunset-post-prev:hover, .sunset-post-prev:hover a, .sunset-post-next:hover, .sunset-post-next:hover a {
  color: orange;
}

/*
============================
    SINGLE POST
============================
*/
#like, #dislike {
  float: right;
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
}
#like:hover, #dislike:hover {
  color: orange;
}

#lnum, #dnum {
  margin-left: 5px;
  font-size: 12px;
}

.active-popular {
  color: orange;
}

.entry-excerpt-single {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 12px;
  padding: 10px;
  color: #fff;
}

.sunset-format-gallery-single {
  /* The Close Button */
}
.sunset-format-gallery-single .content-container img {
  transition: 0.5s;
}
.sunset-format-gallery-single .content-container img:hover {
  transform: scale(1.4, 1.4);
  z-index: 8;
  cursor: pointer;
}
.sunset-format-gallery-single .img-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}
.sunset-format-gallery-single .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #bbb;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.sunset-format-gallery-single .close:hover,
.sunset-format-gallery-single .close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.sunset-format-gallery-single #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.sunset-format-gallery-single .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  top: 20%;
}
.sunset-format-gallery-single .appear {
  animation-name: appear;
  animation-duration: 0.5s;
}
@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*
=============
   TOOLTIPS
=============
*/
.sunset-tooltip, .sunset-popover {
  color: #f5a107;
  font-weight: 500;
}

.social-media-share {
  list-style-type: none;
  padding: 0;
}
.social-media-share li {
  display: inline-block;
  margin-right: 10px;
}
.social-media-share a {
  font-size: large;
  color: #000;
}
.social-media-share a:hover {
  color: #f5a107;
}

/*
===================
 COMMENT SECTION
===================
*/
h2.comments-title {
  font-weight: 300;
}

.sunset-comment-form {
  padding: 25px 0;
  background-color: #e7e6e6;
}

ol.comment-list {
  list-style-type: none;
  padding: 15px 0;
}
ol.comment-list > li {
  margin: 8px 0;
  padding: 10px 10px;
  background-color: #e7e6e6;
}

ol.children {
  list-style-type: none;
}

.avatar, .avatar-60 {
  float: right;
}

.fn, .fn a.url {
  text-transform: capitalize;
  color: #2271b1;
  font-weight: 600;
}
.comment-meta a {
  color: #808080;
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
}

.comment-body p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
}
.comment-body .reply a, .comment-body .replya:hover {
  color: #2271b1;
}

.sunset-comment-respond {
  width: 50%;
  margin: auto;
  color: #808080;
}
.sunset-comment-respond h2 a, .sunset-comment-respond h2a:hover {
  color: #808080;
}
.sunset-comment-respond label {
  font-size: 19px;
  line-height: 1.5em;
  font-weight: 300;
  letter-spacing: 0.02em;
}
.sunset-comment-respond .comment-reply-title {
  font-weight: 300;
}
.sunset-comment-respond textarea, .sunset-comment-respond input[type=text] {
  border: none;
  border-radius: 5px;
  padding: 8px 0;
}
.sunset-comment-respond .comment-notes {
  text-align: center;
}
.sunset-comment-respond label[for=comment] {
  display: block;
}
.sunset-comment-respond textarea#comment {
  width: 100%;
}
.sunset-comment-respond .comment-form-author,
.sunset-comment-respond .comment-form-email {
  display: inline-block;
}
.sunset-comment-respond .comment-form-author label,
.sunset-comment-respond .comment-form-email label {
  display: block;
}
.sunset-comment-respond .comment-form-email {
  float: right;
}
.sunset-comment-respond .comment-form-url label {
  display: block;
}
.sunset-comment-respond .comment-form-url input {
  width: 100%;
}
.sunset-comment-respond .comment-form-cookies-consent label {
  font-size: 15px;
}
.sunset-comment-respond .comment-form-cookies-consent input {
  display: inline;
}
.sunset-comment-respond .form-submit {
  text-align: center;
}
.sunset-comment-respond span.required {
  color: red;
}
.sunset-comment-respond .btn-lg {
  padding: 8px;
}
.sunset-comment-respond .cancel-reply-link-text {
  margin-top: 10px;
  font-size: 18px;
}
.sunset-comment-respond .cancel-reply-link-text a, .sunset-comment-respond .cancel-reply-link-texta:hover {
  color: #2271b1;
}

#commentLoadMore {
  margin-bottom: 10px;
}

/*
================
     SIDEBAR
================
*/
.sidebar-open {
  width: 60px;
  height: 60px;
  padding-top: 5px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.746);
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
  z-index: 3;
}
.sidebar-open:hover {
  color: #fff;
}
.sidebar-open:active {
  background-color: rgba(255, 255, 255, 0.205);
}

.sunset-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: 0.5s;
}

.sunset-sidebar-container {
  width: 100%;
  max-width: 280px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #000;
  color: #fff;
  overflow: hidden auto;
  transition: 0.5s;
}
.sunset-sidebar-container #sidebar-close {
  color: #bbb;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.sunset-sidebar-container #sidebar-close:hover {
  color: #fff;
}
.sunset-sidebar-container h2.sunset-widget-title {
  width: 90%;
  margin: 15px auto;
  border-radius: 20px;
  padding: 4px 0;
  background-color: rgba(186, 186, 186, 0.205);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.sunset-sidebar-container .widget-hr {
  width: 90%;
  margin: 25px 14px;
}
.sunset-sidebar-container section ul {
  list-style-type: none;
}
.sunset-sidebar-container section ul a {
  text-decoration: none;
  color: #808080;
}
.sunset-sidebar-container section#categories-3 li {
  margin: 10px 20px 10px 0;
  display: flex;
  justify-content: space-between;
}
.sunset-sidebar-container section#tag_cloud-2 .tagcloud {
  text-align: center;
}
.sunset-sidebar-container section#tag_cloud-2 .tagcloud a {
  width: 12px;
  padding: 1px 8px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.74);
  color: #ffff;
}
.sunset-sidebar-container section#recent-comments-3 li {
  margin: 10px 0;
}
.sunset-sidebar-container section#recent-comments-3 span.comment-author-link {
  display: block;
}
.sunset-sidebar-container section#recent-comments-3 span.comment-author-link a {
  text-transform: capitalize;
  font-size: 18px;
}
.sunset-sidebar-container section#recent-comments-3 a {
  font-size: 12px;
  text-transform: uppercase;
}

.slide-in {
  top: 0;
  right: 0;
}

.slide-out {
  top: 0;
  right: -400px;
}

.visibility-hidden {
  background-color: rgba(0, 0, 0, 0);
}

.visibility-visible {
  background-color: rgba(0, 0, 0, 0.8);
}

h1.sunset-username,
h2.sunset-description {
  font-weight: 100;
  color: white;
}

h1.sunset-username {
  font-size: 24px;
  margin: 0 0 10px;
}

h2.sunset-description {
  font-size: 13px;
  margin: 0 0 20px;
}

.image-container,
.profile-picture {
  margin: 0 auto 5px;
  overflow: hidden;
}

.profile-picture {
  width: 130px;
  height: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-picture {
  border-radius: 50%;
}

.social-media {
  list-style-type: none;
  padding: 0;
}
.social-media li {
  display: inline-block;
  margin-right: 10px;
}
.social-media a {
  font-size: large;
  color: #fff;
}
.social-media a:hover {
  color: #f5a107;
}

.social-media a[href*=instagram] {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: center 3px;
  background-size: 15px;
  width: 18px;
  height: 18px;
  display: block;
  text-indent: -9999px;
}

.sunset_popular_posts-2 ul li {
  margin-bottom: 10px;
}
.sunset_popular_posts-2 ul li p {
  margin: 0;
}
.sunset_popular_posts-2 ul li a {
  text-transform: uppercase;
  font-size: 12px;
}
.sunset_popular_posts-2 ul li .widget-comments {
  padding-top: 6px;
  margin-right: 23px;
  float: right;
  font-size: 12px;
  color: #808080;
}
.sunset_popular_posts-2 ul li .widget-like,
.sunset_popular_posts-2 ul li .widget-dislike {
  font-size: 12px;
  color: #808080;
  margin-right: 5px;
}

/* for widescreen view */
@media (min-width: 786px) {
  .header-text h2 {
    font-size: 42px;
  }

  .header-text h6 {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .entry-title, .page-title {
    font-size: 32px;
  }

  nav ul li::after {
    content: none;
  }

  .post-footer-container {
    text-align: center;
  }

  .comments-tag a {
    float: none;
  }
}

/*# sourceMappingURL=sunset.css.map */
