a:hover {
  color: #808080;
  text-decoration: none;
}

hr {
  background-color: #bdbbbbb6;
}

.header-content {
  height: 350px;
}

.header-container {
  position: relative;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

.header-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'lucida Calligraphy';
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.header-text h6 {
  font-size: 12px;
}

.nav-container {
  position: absolute;
  width: 100%;
  height: auto;
  top: 295px;
}

.nav-bg-trans {
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-bg-dark {
  background-color: rgba(20, 20, 20, 0.603);
}

nav ul li {
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: relative;
}

nav ul li::after {
  content: '';
  display: block;
  width: 85%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 5px;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

nav ul li:hover::after {
  opacity: 1;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

nav ul li.active::after {
  opacity: 1;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

nav ul li.show {
  background-color: rgba(0, 0, 0, 0.1);
}

nav ul li.show::after {
  opacity: 0;
}

.dropdown-menu {
  background-color: #292828;
}

.dropdown-menu li:hover::after {
  opacity: 0;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #292828;
  color: #fff;
}

/*
=================================
   FOR POSTS ON HOME PAGE
=================================
*/
.entry-meta, .standard-featured, .entry-excerpt {
  margin-bottom: 25px;
}

.entry-content {
  margin-bottom: 32px;
}

.entry-header {
  margin-top: 50px;
}

h1 {
  font-size: 55px;
  font-weight: 200;
}

h1 a {
  color: #000;
}

h1.entry-title {
  margin-top: 20px;
  margin-bottom: 15px;
  word-spacing: 5px;
}

h1.entry-title::before, h1.entry-title::after {
  content: '~';
  position: relative;
}

.posted-on, .posted-in {
  color: #bdbbbbb6;
  font-size: 16px;
  font-style: italic;
  text-transform: capitalize;
}

.posted-on a, .posted-in a {
  color: #808080;
  text-decoration: none;
}

/* RESPONSIVE IMAGE */
.responsive {
  width: 100%;
  height: 400px;
  -webkit-transition: .3s;
  transition: .3s;
}

.responsive:hover {
  opacity: 0.7;
}

.entry-excerpt p {
  font-size: 19px;
  line-height: 1.5em;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.tags-list a {
  margin: 0 6px;
  text-transform: uppercase;
  color: #808080;
  font-weight: 600;
  font-size: 14px;
}

.comments-tag a {
  text-transform: uppercase;
  float: right;
  color: #808080;
  font-weight: 600;
  font-size: 14px;
}

.btn-sunset {
  border: 2.3px solid #bdbbbbb6;
  text-transform: uppercase;
  color: #bdbbbbb6;
  -webkit-transition: .7s;
  transition: .7s;
}

.btn-sunset:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.entry-footer {
  padding-bottom: 8px;
  margin-top: 20px;
}

/*
==============================
   FOR IMAGE POST FORMAT
==============================
*/
.sunset-format-image .entry-header {
  height: 500px;
  padding-top: 2px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.sunset-format-image .entry-header:hover .entry-excerpt {
  top: 89%;
}

.sunset-format-image .entry-header .posted-on, .sunset-format-image .entry-header .posted-in,
.sunset-format-image .entry-header a {
  color: #fff;
}

.sunset-format-image .entry-header .entry-excerpt {
  padding: 15px 0;
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000), to(rgba(0, 0, 0, 0.09)));
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0.09));
}

.sunset-format-image .entry-header .entry-excerpt p {
  margin-bottom: 0;
}

@-webkit-keyframes excerpt-up {
  from {
    bottom: -85px;
  }
  to {
    bottom: -25px;
  }
}

@keyframes excerpt-up {
  from {
    bottom: -85px;
  }
  to {
    bottom: -25px;
  }
}

/*
==========================
   VIDEO POST FORMAT
==========================
*/
.sunset-format-video {
  margin-top: 70px;
}

.sunset-format-video video {
  width: 100%;
}

/*
==========================
   AUDIO POST FORMAT
==========================
*/
.sunset-format-audio audio {
  width: 100%;
}

.sunset-format-audio .entry-header {
  margin-bottom: 30px;
}

.sunset-format-audio .entry-header h1::before, .sunset-format-audio .entry-header h1::after {
  content: none;
}

.sunset-format-audio .entry-title, .sunset-format-audio .entry-meta {
  display: inline;
}

.sunset-format-audio .entry-meta {
  float: right;
  margin-top: 30px;
  margin-bottom: 0;
}

.d-block {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item {
  position: relative;
}

.caption {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
}

/*
==========================
    QUOTE POST FORMAT
==========================

*/
.sunset-format-quote {
  margin-top: 100px;
}

.sunset-format-quote .entry-header a {
  color: #808080;
}

.sunset-format-quote .entry-header h1 {
  font-weight: 200;
}

/*
================================
       LINK POST FORMAT
================================
*/
.sunset-format-link {
  margin-top: 100px;
}

.sunset-format-link .entry-title {
  font-size: 48px;
}

.sunset-format-link .entry-title::before, .sunset-format-link .entry-title::after {
  display: none;
}

.sunset-format-link .entry-title a {
  color: #808080;
}

.link-icon {
  display: block;
  color: #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  line-height: 1em;
  padding-top: 10px;
}

/*
=============================
     ASIDE POST FORMAT
=============================
*/
.sunset-format-aside .content {
  background-color: #f3f1f1;
}

.sunset-format-aside img.responsive {
  width: 250px;
  height: 250px;
  max-width: 100%;
  margin: auto;
  border-radius: 50%;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  z-index: 1000;
}

.sunset-format-aside img.responsive:hover {
  opacity: 1;
}

.sunset-format-aside footer {
  margin-top: 0;
  padding: 10px;
}

.sunset-format-aside .footer-row {
  background-color: #e7e6e6;
}

.sunset-format-aside .feature-column, .sunset-format-aside .content-column {
  padding: 0;
}

.sunset-format-aside .entry-content {
  padding-right: 15px;
}

.sunset-format-aside .aside-featured {
  padding-top: 10px;
  margin-top: 11px;
}

/* for widescreen view */
@media (min-width: 786px) {
  .header-text h2 {
    font-size: 42px;
  }
  .header-text h6 {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .entry-title {
    font-size: 32px;
  }
  nav ul li::after {
    content: none;
  }
  .post-footer-container {
    text-align: center;
  }
  .comments-tag a {
    float: none;
  }
}
/*# sourceMappingURL=sunset.css.map */