.sunset-general-form
{
    display: inline-block;

}

.preview-wrapper
{
    width: 280px;
    text-align: center;
    margin-right: 150px;
    float: right;
}

.preview-wrapper .sunset-sidebar-preview
{
    border-radius: 3px;
    background-color: #1f1f1f;
    color: white;
    padding: 20px;
    
}

/* .sunset-sidebar{

} */

.preview-wrapper h1.sunset-username,
.preview-wrapper h2.sunset-description
{
    font-weight: 100;
    color: white;
}

.preview-wrapper h1.sunset-username
{
    font-size: 24px;
    margin: 0 0 10px;
}

.preview-wrapper h2.sunset-description
{
    font-size: 13px;
    margin: 0 0 20px;
}

.image-container,
.profile-picture{
    margin: 0 auto 5px;
   overflow: hidden; 
}

.profile-picture{
    width: 120px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-picture{
   
    border-radius: 50%;
    
}

