@media (min-width:786px) {
    //.header-text{left: 36%;}
    .header-text h2{font-size: 42px;}
    .header-text h6{font-size: 20px;}
}

@media (max-width:600px){
    .entry-title{
        font-size: 32px;
    }
    nav{
        ul{
            li::after{
                content: none;
            }
        }
    }


    .post-footer-container{
        text-align: center;
    }

    .comments-tag a{float: none;}
}


/* FOOTER SECTION */

@media(max-width:600px){
  .sunset-footer-menu{
    text-align: center;
    ul#menu-navigation-2{
      a{
        font-size: 12.5px;
      }
    }
  }

  .sunset-copyright{
    p{
      float: none;
      text-align: center;
      font-size: 12.5px;
    }
  }
}


/*     404 PAGE
===================
*/

@media(min-width:700px){
  .page-wrapper{
    position: relative;
    h3.page-background{
      font-size: 18rem;
    }

    h3.header-404{
      position: absolute;
      bottom: 150px;
      left: 0;right: 0;
      text-align: center;
      font-size: 3.125rem;
      font-weight: 900;
    }

    p.description-404{
      position: absolute;
      left: 0;right: 0;
      bottom: 200px;
      font-size: 1rem;
    }
  }
  }
