@media (min-width:786px) {
    //.header-text{left: 36%;}
    .header-text h2{font-size: 42px;}
    .header-text h6{font-size: 20px;}
}

@media (max-width:600px){
    .entry-title{
        font-size: 32px;
    }
    nav{
        ul{
            li::after{
                content: none;
            }
        }
    }


    .post-footer-container{
        text-align: center;
    }

    .comments-tag a{float: none;}
}


/* FOOTER SECTION */

@media(max-width:600px){
  .sunset-footer-menu{
    text-align: center;
    ul#menu-navigation-2{
      a{
        font-size: 12.5px;
      }
    }
  }

  .sunset-copyright{
    p{
      float: none;
      text-align: center;
      font-size: 12.5px;
    }
  }
}
