
$color-one : #000;
$color-two : #bdbbbbb6;
$color-two-dark : #808080;


a{
    &:hover{
        color: $color-two-dark;
        text-decoration: none;
    }
}

hr{
    background-color: $color-two;
}


.header-content{
    height: 350px;
}

.header-container{
    position: relative;
}
.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(6px); 
    
}

.header-text{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    //color: rgba(241, 241, 146, 0.986);
    font-family: 'lucida Calligraphy';
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
   
}

.header-text h6{font-size: 12px;}

.nav-container{
    position: absolute;
    width: 100%;
    height:  auto;
    top: 295px;
}


.nav-bg-trans{
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-bg-dark{
    background-color: rgba(20, 20, 20, 0.603);
}


nav{
    ul{
        li{
            margin-right: 10px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            position: relative;
     
            
            &::after{
                content: '';
                display: block;
                width: 85%;
                height: 3px;
                background-color: #fff;
                position: absolute;
                bottom: 0; 
                left: 5px;
                opacity: 0;
                transition: 0.5s ease;
                
                }
     
            &:hover::after{opacity: 1;transform: translateY(-2px)}
            &.active::after{opacity: 1;transform: translateY(-2px)}
            &.show{
                background-color: rgba(0,0,0,0.1);
                &::after{opacity: 0;}
               }
        }
    }
}

.dropdown-menu{
    background-color: rgb(41, 40, 40);
    & li:hover::after{opacity: 0;}
  }
  .dropdown-item{
    color: #fff;
    &:hover{background-color: rgb(41, 40, 40);color: #fff;}
  }



/*
=================================
   FOR POSTS ON HOME PAGE
=================================
*/
.entry-meta, .standard-featured, .entry-excerpt{
    margin-bottom: 25px;
}

.entry-content{
    margin-bottom: 32px;
}

.entry-header{
    margin-top: 50px;
}

h1{ 
    font-size: 55px;
    font-weight: 200;
    & a {color: #000;}
    &.entry-title{
        margin-top: 20px;
        margin-bottom: 15px;
        word-spacing: 5px;
        &::before,
        &::after{
            content: '~';
            position: relative;
        }
    }
}


.posted-on,.posted-in{
    color: $color-two;
    font-size: 16px;
    font-style: italic;
    text-transform: capitalize;  
    & a{
        color: $color-two-dark;
        text-decoration: none;
        
    
        
    }
}

/* RESPONSIVE IMAGE */

.responsive{
    width: 100%;
    height: 400px; 
    transition: .3s;
    
    &:hover{
        opacity: 0.7;
    }

}


.entry-excerpt p{

    font-size: 19px;
    line-height: 1.5em; 
    font-weight: 300; 
    letter-spacing: 0.02em; 
}


.tags-list a{
    margin: 0 6px;
    text-transform: uppercase;
    color: $color-two-dark;
    font-weight: 600;
    font-size: 14px;
}
.comments-tag a{
    text-transform: uppercase;
    float: right;
    color: $color-two-dark;
    font-weight: 600;
    font-size: 14px;
}





.btn-sunset{
    border: 2.3px solid $color-two; 
    text-transform: uppercase;
    color: $color-two;
    transition: .7s;
    &:hover{background-color: $color-one; color: #fff;border-color: $color-one;}
}

.entry-footer{
    padding-bottom: 8px;
    margin-top: 20px;
    
    
}

/*
==============================
   FOR IMAGE POST FORMAT
==============================
*/

.sunset-format-image{
    
   .entry-header{
    height: 500px;
    padding-top: 2px;
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    
    &:hover .entry-excerpt{top: 89%;}
    & .posted-on, .posted-in,
    & a{
        color: #fff;
    }

    .entry-excerpt{
        padding: 15px 0;
        position: absolute;
        right: 0;left: 0;
        top: 100%;
        transition-duration: 1s;
        background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0.09)); 
        
        & p{margin-bottom: 0;}
    }
}
}

@keyframes excerpt-up {
   from{bottom: -85px;}
   to{bottom: -25px;}
}


/*
==========================
   VIDEO POST FORMAT
==========================
*/

.sunset-format-video{
    margin-top: 70px;
    video{
        width: 100%;
    }
} 


/*
==========================
   AUDIO POST FORMAT
==========================
*/

.sunset-format-audio{
    //margin-top: 70px;
    audio{
        width: 100%; 
    }
    .entry-header{
        margin-bottom: 30px;
        h1{
            &::before,
            &::after{content: none;}
        }
    }

    .entry-title,.entry-meta{display: inline;}
    .entry-meta{
        float: right;
        margin-top: 30px;
        margin-bottom: 0;
    }
} 


    .d-block{
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }


    .carousel-item{
        position: relative;
    }

.caption{
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 15px;
    position: absolute;
    left: 0; right: 0;
    bottom: -7px;
 
}



/*
==========================
    QUOTE POST FORMAT
==========================

*/

.sunset-format-quote{
    margin-top: 100px;
    .entry-header{
        a{color: $color-two-dark;}
        h1{
            
            font-weight: 200;
        }
    }
}






/*
================================
       LINK POST FORMAT
================================
*/

.sunset-format-link{
    margin-top: 100px;
    .entry-title{
        font-size: 48px;
        &::before,
        &::after{display: none;}
        a{color: $color-two-dark;}
        
    }
}

.link-icon {
    display: block;
    color: #fff;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.6);
    margin: 0 auto;
    line-height: 1em;
    padding-top: 10px;
}



/*
=============================
     ASIDE POST FORMAT
=============================
*/

.sunset-format-aside{
    .content{
        background-color: rgb(243, 241, 241);
    }
    img.responsive{
        width: 250px;
        height: 250px;
        max-width: 100%;
        margin: auto;
        border-radius: 50%;
       transition: none;
       &:hover{opacity: 1;}
       transform: translateY(20px);
       z-index: 1000;
    }

    footer{
        margin-top: 0;
        padding: 10px;
        
    }
    .footer-row{
        background-color: #e7e6e6;
    }
    .feature-column,.content-column{
        padding: 0;
    }

    .entry-content{
        padding-right: 15px;
    }

    .aside-featured{
        padding-top: 10px;
        margin-top: 11px;
    }

    
}


/*
===================
  LAZY LOAD
===================
*/

#lazy-load-preloader{
    width: 200px;
    height: 200px;
    margin: auto;
  // background-image: url('../../img/preloader.gif');
   background-position: center;
   background-repeat: no-repeat; 
   background-size: cover;
}












/* for widescreen view */

@import 'media-queries';