html,
 body{
  margin: 0;
  color: #333;
  background: #eee;
  font: sans-serif;
}

body{
    /* padding: 20px; */
} 

.link-decoration{
    text-decoration: none;
}

  .page-numbers{
    border: 1px solid #0275d8;
    border-radius: 3px;
    margin: 2px;
    padding: 3px 8px;
    text-align: center;
    
}

a.page-numbers{
    text-decoration: none;
}

span.current{
    background-color: #0275d8 ;
    color: white;
}

a.navbar-brand{
    font-size: 27px;
    font-family: 'Lucida Handwriting';
}

a.nav-link{
    font-size: 17px;
    
}

.navbar-brand, .dropdown-item, .nav-link{
    font-family: 'Lucida Handwriting';
}

li:hover .dropdown-menu{display: block;}